{% extends 'base.html' %}

{% block title %}
    - Test
{% endblock %}

{% block head_extras %}
    <meta name="description" content="this should be a description of what Circa about">
    <meta name="keywords" content="add some keywords for Search Engine Optimisation">
    {% load static %}
    {#    <link rel="stylesheet" href="{% static 'index.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'loginAndRegister.css' %}">#}

{% endblock %}

{% block page_header %}
{% endblock %}

{% block main_body %}
    <h1>THIS IS TEST PAGE</h1>

    <table>
    {% for item in queryset %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.house_number }}</td>
            <td>{{ item.street_name }}</td>
{#            <td><a href="{% url 'show_artifact_details' item.id %}"><button>Apply</button></a></td>#}
            <td><a href="{% url 'apply' item.id %}"><button>Apply</button></a></td>
        </tr>
    {% endfor %}
    </table>


    <!--- TAGLINE BANNER ---------------------->
    {#    <div class="tagline">#}
    {#        <p class="headertext">Rentwiz, houses for rent. the home of rentals for kiwis. </p>#}
    {#    </div>#}
    <!-- TAGLINE BANNER ENDS ------------------------->



{% endblock %}

{% block help_section %}#home{% endblock %}
