{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
    - Login
{% endblock %}

{% block page_header %}
    <link rel="stylesheet" href="{% static 'loginAndRegister.css' %}">
{% endblock %}

{% block main_body %}
<div class="Login">
    <div class="Login__Aside">
        <img class="img" src="{% static 'home1.jpeg' %}"  alt="home1" />

    </div>
        <div class="Login__Form">

            {% if user.is_authenticated %}
                <div class="FormTitle">You are already logged in as: {{ user.get_username }}</div>
            {% else %}

                <div class="FormTitle">
                    <a class="FormTitle__Link{% if request.path == '/users/login/' %} FormTitle__Link--Active{% endif %}"
                       href="{% url 'login' %}">Sign In</a> or <a
                        class="FormTitle__Link{% if request.path == '/users/register/' %} FormTitle__Link--Active{% endif %}"
                        href="{% url 'register' %}">Sign Up</a>
                </div>

                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="FormField">
                            <label class="FormField__Label">{{ field.label_tag }}</label>
                            {% render_field field class="FormField__Input inputTransparent" %}
                        </div>
                    {% endfor %}
                    <div class="FormField">
                        <button type="submit" class="FormField__Button mr-20">Sign In</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block help_section %}#login{% endblock %}
