{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    - Register
{% endblock %}

{% block page_header %}
    <link rel="stylesheet" href="{% static 'loginAndRegister.css' %}">
{% endblock %}

{% block main_body %}

    {% if user.is_authenticated %}
        <div class="FormTitle">You are already logged in as: {{ user.get_username }}</div>
        <div class="FormTitle">You must logout before you can sign up as a new user.</div>
    {% else %}


        <div class="Login">
        <div class="Login__Aside"></div>
        <div class="Login__Form">

        <div class="FormTitle">
            <a class="FormTitle__Link{% if request.path == '/users/login' %} FormTitle__Link--Active{% endif %}"
               href="{% url 'login' %}">Sign In</a> or <a
                class="FormTitle__Link{% if '/users/register/' in request.path %} FormTitle__Link--Active{% endif %}"
                href="{% url 'register' %}">Sign Up</a>
        </div>

        <div class="FormTitle">
            as a <a
                class="FormTitle__Link{% if request.path == '/users/register/tenant' %} FormTitle__Link--Active{% endif %}"
                href="{% url 'register_tenant' %}">Tenant</a> or <a
                class="FormTitle__Link{% if request.path == '/users/register/landlord' %} FormTitle__Link--Active{% endif %}"
                href="{% url 'register_landlord' %}">Landlord</a>or <a
                class="FormTitle__Link{% if request.path == '/users/register/propertymanager' %} FormTitle__Link--Active{% endif %}"
                href="{% url 'register_propertymanager' %}">Property Manager</a>
        </div>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="FormField">
                    <label class="FormField__Label">{{ field.label_tag }}</label>
                    {% render_field field class="FormField__Input inputTransparent" %}
                </div>
            {% endfor %}
            {% if form %}
            <div class="FormField">
                <button type="submit" class="FormField__Button mr-20">Register</button>
            </div>
            {% endif %}

        </form>
    {% endif %}
</div>
</div>
</div>
{% endblock %}
