body {
    margin: 0;
    font-family: Arial
}

.topnav {
    overflow: hidden;
    /* background-color: #333; */
    color: #4CAF50;
}

.topnav a {
    float: left;
    display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px 8px 16px;
    text-decoration: none !important;
    font-size: 24px;
    /* font-weight: 100; */
}

.topnav a.active {
    background-color: white;
    color: white;
    padding: 2px 10px 0px 10px;
}

.topnav input[type=text],
.topnav input[type=password] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 5px 0px;
    padding: 14px;
}

.logo {
    padding: 0;
    margin: 0;
    height: 50px;
}

.linegreen {
    position: relative;
    width: 100%;
    height: 2px;
    top: 50px;
    background-color: #338e33;
}

.topnav .icon {
    display: none;
}

.rigthfloat {
    float: right;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: #4CAF50;
    padding: 14px 16px 8px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(85, 85, 85, 0.5);
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 700px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    .rigthfloat {
        float: left;
    }
}
/* Tagline CSS */
.tagline{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 2px;
    position: relative;
    top:-7px;
}

.headertext{
    font-size: calc(1.5vw + 12px);
    line-height: 0ch;
}

/* footer css */
.linegreentop{
    position: relative;
    width: 100%;
    height: 2px;
    top:-5px;
    background-color: #4CAF50;

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   color: #4CAF50;
   font-size: 24px;
   padding: 5px;
    background-color: white;
}

#footerTable{
  width:100%;
}
#footerTableCol{
  width: 33%;
}



