html {
    background-color: #fcfcfc;
}

.navbar {
    border-bottom: 4px solid #39b45a;
    background-color: #fcfcfc;
    padding-bottom: 0;
}

.navbar {
  padding: 0 1rem !important;
}

.nav-logo {
  display: absolute;
  height: 60px;
  margin-top: -25px;
  margin-bottom: -35px;
  padding-top: 0;
}

.navbar-nav {
  margin-top: 30px;
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.10);
  transition: all 0.3s cubic-bezier(.05,.2,.05,0.5);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.15);
}

#regForm {
  padding: 50px;
  width: 100%;
}

input {
  display: block;
  width: 100%;
  height: calc(2.15625rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/* Mark input boxes that get errors during validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}


/* Step marker: Place in the form. */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}
