.progressBar {
 
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
}

.progressBar--indicator {
    padding: 5px;
    position: relative;
    background-color: #E5E9F2;
    height: fit-content;
    margin: auto;
    width: 100%;
   
    
}

.progressBar--indicator span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    transition: all 1s;
    background-color: #8190A5;
}