

.adultProfile h1{
text-align: center
}

.adultProfile--block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    margin: 2em 20% auto 20%;
    width: 70%;
}

.adultProfile--details {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
}

.adultProfile--details_info{
    justify-self: start;
    /* text-align: left; */
    /* margin-left: 0%;
    padding-left: 0%; */
}

.adultProfile--details__pic {
    height: 180px;
    width: 70%;
}

.adultProfile--details__nameBlock {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    width: 100%;
}

.adultProfile--details_info ul li{

    list-style: none;
    /* margin: 0.25em;  */
    color: #8190A5;
    text-align: left;
}

.adultProfile--details__add {
   
    display: grid;
    grid-template-columns: 2fr 1fr;
}



.adultProfile--details__add  button {
    background-color: #008001;
    border-radius: 10px;
    border: none;
    color: #fff;
    width: 90%;
    margin-left: 5px;
    height: 29.17px;
    margin: auto;
    cursor: pointer;

}

.controlButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2em auto;
    width: 70%;
}

.controlButtons--leftButton button{
    float: right;
}

.controlButtons--rightButton button {
    float: right;
}

