

.adultProfile h1{
text-align: center
}
/* 
h1 {
    margin: 0.25em auto;
    color: #47525E;
    font-size: 3.0em;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} */

.my-nav{
    width:relative;
    margin: 0% 20% 20% 20%;
    /*background-color: #008001;*/
    /*border-radius: 5%;*/
}
.right-my-nav{
    width:relative;
    float: right;
    /*margin: 0% 10% 20% 40%;*/
    /*background-color: #008001;*/
    /*border-radius: 5%;*/
}
.invite{
justify-self: last baseline;
width:relative;
background-color: #008001;
border-radius: 5%;
margin-top: 0%;
}
.my-input{
    width:100%;
}

.adultProfile--block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    margin: 2em 20% auto 20%;
    width: 70%;
}

.adultProfile--details {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
}

.adultProfile--details_info{
    justify-self: start;
    /* text-align: left; */
    /* margin-left: 0%;
    padding-left: 0%; */
}

.adultProfile--details__pic {
    height: 180px;
    width: 70%;
}

.adultProfile--details__nameBlock {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    width: 100%;
}

/* .adultProfile--details_info ul li{

    list-style: none;
     margin: 0.25em; 
    color: #8190A5;
    text-align: left;
} */

.adultProfile--details__add {
   
    display: grid;
    grid-template-columns: 2fr 1fr;
}



.adultProfile--details__add  button {
    background-color: #008001;
    border-radius: 5px;
    border: none;
    color: #fff;
    width: 90%;
    margin-left: 5px;
    height: 29.17px;
    margin: auto;
    cursor: pointer;

}

.controlButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2em auto;
    width: 70%;
}

.controlButtons--leftButton button{
    float: right;
}

.controlButtons--rightButton button {
    float: right;
}

.controlButton {
    background-color: #008001;
    border-radius: 5px;
    width: 150px;
    height: 50.68px;
    margin: 1em auto;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
  }
  
  
