* {
    margin: 0;
    padding: 0;
}
.rentalBlock {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto 20%;
    /* border: 1px solid saddlebrown; */
    margin-bottom: 2em;
}

/* .rentalBlock h1 {
    margin: 0.25em auto;
    color: #47525E;
    font-size: 3.0em;
} */

 .rentalBlock h1 {
text-align: center;
color: #47525E;
} 

.rentalBlock h4 {
    font-weight: 400;
    font-size: 1.25em;
    margin: 0.25em auto;
}

.rentalBlock--img img{
    width: 100%;
    height: auto;
    margin: 0.5em auto;
}

.rentalBlock--description {
    display: grid;
    grid-template-columns: 8fr 2fr;
    float: left;
    
}

.rentalBlock--description__list li{
    list-style: none;
    margin: 0.5em auto;
    padding: 0.75em 0em;
    text-align: left;
    border-bottom: 0.5px solid rgba(71, 82, 94, 0.438);
    font-size: medium;  
    
}

.rentalBlock--description__list li span {
    color: #47525E;
}

.rentalBlock--nextBtn {
    height: 100%;
    display: grid;
    width: 100%;
    align-items: end;
}

.my-nav{
    padding:5%;
    margin: 0% 20% 20% 20%;
    /*background-color: #008001;*/
    /*border-radius: 5%; */
    text-align: center;
}

.nextButton {
    
    color: #fff;
    font-size: large;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    margin-left: 50px;
    height: 50.68px;
    margin-bottom: 50px;
    padding: 0%;
    background-color: #008001;
    border-radius: 5px;
    width: 120%;
   
    cursor: pointer;
    border-color: transparent;
}

a {
    text-decoration: none;
    color: white;
}