{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_header %}

{% endblock %}

{% block main_body %}
    <br/>
    <div class="container mb-4">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3 class="text-center text-primary mt-4"><b>Create a listing</b></h3>
                <br/>

                <main class="content" role="content">
                        <section id="section1" class="card">
                            <div class="container-fluid">
                    
                                <!-- MultiStep Form -->
                                <form id="regForm"  method="POST" class="post-form">{% csrf_token %}
                                <!-- One "tab" for each step in the form: -->
                                <div class="tab">
                                    <h4 class="py-2 text-center">Availability</h4>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="availability">Available From</label>
                                            <input type="date" class="form-control" oninput="this.className = ''" name="availability">
                                        </div>
                                        <div class="form-group">
                                            <label for="availability">Available To</label>
                                            <input type="date" class="form-control" oninput="this.className = ''" name="availability">
                                        </div>
                                    </fieldset> 
                                    <br/>   
                                    <h4 class="py-2 text-center">Price</h4>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="price">Price Per Week</label>
                                            <div class="input-group">
                                              <div class="input-group-addon">$</div>
                                              <input type="number" min="0.00" step="0.05" value="1.00" id="exampleInputAmount" class="form-control" placeholder="Price">
                                            </div>
                                          </div>
                                    </fieldset>
                                </div>
                                <div class="tab">
                                    <h4 class="py-2 text-center">Location</h4>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="inputDefault">Room Number</label>
                                            <input type="text" maxlength="4" name="room_number" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Unit Number</label>
                                            <input type="text" maxlength="4" name="unit_number" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">House Number</label>
                                            <input type="text" maxlength="4" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Building Name</label>
                                            <input type="text" maxlength="80" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Street Name</label>
                                            <input type="text" maxlength="80" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Suburb</label>
                                            <input type="text" maxlength="50" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">City</label>
                                            <input type="text" maxlength="50" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Postcode</label>
                                            <input type="text" maxlength="10" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Region</label>
                                            <input type="text" maxlength="50" class="form-control" placeholder="Default input">
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="tab">
                                    <h4 class="py-2 text-center">Property Details</h4>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="inputDefault">Bedrooms</label>
                                            <input type="number" name="bedrooms" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Bathrooms</label>
                                            <input type="number" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Tenant Capacity</label>
                                            <input type="number" name="tenant_capacity" class="form-control" placeholder="Default input">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Dwelling Type</label>
                                            <select class="custom-select">
                                                <option selected>Select</option>
                                                <option value="House/Townhouse">House/Townhouse</option>
                                                <option value="Apartment">Apartment</option>
                                                <option value="Room">Room</option>
                                                <option value="Boarding house room">Boarding House Room</option>
                                                <option value="Bedsit/Flat">Bedsit/Flat</option>
                                            </select>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="tab">
                                    <h4 class="py-2 text-center">Property Details</h4>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="inputDefault">Description</label>
                                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDefault">Upload Image</label>
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                                </div>
                                                <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                                <div style="overflow:auto;">
                                    <div style="float:right;">
                                    <button type="button" class="btn btn-outline-primary" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                    <button type="button" class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Next</button>
                                    </div>
                                </div>
                                <!-- Circles which indicates the steps of the form: -->
                                <div style="text-align:center;margin-top:40px;">
                                    <span class="step"></span>
                                    <span class="step"></span>
                                    <span class="step"></span>
                                    <span class="step"></span>
                                </div>
                                </form>
                                <!-- /.MultiStep Form -->
                            </div>
                        </section>
                    </main> <!-- /content -->
                    <br/><br/>
            </div>
        </div>

        <br/>
            

    </div>
{% endblock %}