{% extends "base.html" %}
{% load static %}

{% block title %}
    - Add More Tenants
{% endblock %}

    {% block head_extras %}
        <link rel="stylesheet" href="{% static 'addTenants.css' %}">
    {% endblock %}

{% block main_body %}
     <div class="adultProfile">

      <ProgressBar percent="40"/>
        <h1>Add More Tenants</h1>

         <div class="adultProfile--block">
            <div class="adultProfile--details">
                <img src="{% static 'profilepic.jpg'%}" alt="can't load" class="adultProfile--details__pic"/>
                <div class="adultProfile--details__nameBlock">
                    <h3 class="adultProfile--details__nameBlock_name">Jack Smith</h3>
                    <div class="adultProfile--details__nameBlock_verifiedStatus">
                        <img src="{% static 'check-mark.png'%}" alt= "can't load"/>
                        <p>Verified</p>
                    </div>

                </div>
                <div class="adultProfile--details_info">
                    <ul>
                        <li>Email: Jack@gmail.com</li>
                        <li>DOB: 12 Dec 92</li>
                        <li>Pets: No</li>
                        <li>Smoker: No</li>
                        <li>Mobile: 021322323</li>
                    </ul>
                </div>
            </div>


            <div class="adultProfile--details">
                <img src="{% static 'whoTenant.png'%}" alt="can't load" class="adultProfile--details__pic"/>
                <div class="adultProfile--details__add">
                    <input type="email" placeholder="someone@example.com"/>
                    <button>Invite</button>
                </div>
                <div class="adultProfile--details_info">
                    <p>
                    Enter your potential flatmate's email address above to send them an invitation.
                    </p>
                </div>
            </div>


            <div class="adultProfile--details">
                <img src="{% static 'whoTenant.png'%}" alt="can't load" class="adultProfile--details__pic"/>
                <div class="adultProfile--details__add">
                    <input type="email" placeholder="someone@example.com"/>
                    <button>Invite</button>
                </div>
                <div class="adultProfile--details_info">
                    <p>
                    Enter your potential flatmate's email address above to send them an invitation.

                    </p>
                </div>
            </div>
         </div>

        <div class="controlButtons">
         <a class="controlButtons--leftButton button" href="{% url 'addTenants' queryset.id %}">Back</a>
            {% comment %} <Link to='/'>
                <div class="controlButtons--leftButton">
                    <ControlButton name="Back"/>
                </div>
            </Link> {% endcomment %}

            <div class="controlButtons--centerButton">
            <a class="controlButtons--centerButton" href="{% url 'addMoreT' queryset.id %}">Add More Tenants</a>

                {% comment %} <ControlButton name="Add More People"/> {% endcomment %}
            </div>
            <Link to="/propertyconditions">
                <div class="controlButtons--rightButton">
                <a class="controlButtons--centerButton" href="{% url 'conditions' queryset.id %}">Next</a>

                    <ControlButton name="Next"/>
                </div>
            </Link>


        </div>

      </div>
 {% endblock %}