{% extends "base.html" %}
{% load static %}

{% block title %}
    - Conditions
{% endblock %}

    {% block head_extras %}
      <link rel="stylesheet" href="{% static 'cosmo.css' %}">
        <link rel="stylesheet" href="{% static 'propertyConditions.css' %}">
    {% endblock %}

{% block main_body %}
      <div class="propertyConditions">
         <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
          <h1>
            Are you aware of the below Duties & Conditions of this property?
          </h1>
          <h3>
           Please confirm below that you are happy to accept the Conditions and Duties set out by the landlord of this property.
          </h3>
          <div class="propertyConditions--block">
              <div class="propertryCondition--block_list">       
                <div class="propertyCondition--block_list__item" style="float: left">
                    <h2>
                      Conditions: 
                    </h2>
                    <ol>
                        <li>No pets</li>
                        <li>No motorbikes</li>
                        <li>No smoking</li>
                        <li>Max 3 tenants</li>
                    </ol>
                      <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
      <label class="custom-control-label" for="customCheck1">I accept</label>
                </div>
                </div>
                </div>
                <div class="propertyCondition--block_list__item">
                    <h2>
                      Duties of tenant: 
                    </h2>
                    <ol>
                      <li>Tenant must clean roof  annually</li>
                      <li>Lawns mowed fortnightly</li>
                      <li>Must sweep chimney weekly</li>
                      <li>Must keep garden tidy</li>
                    </ol>
                    <div>
                     <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
      <label class="custom-control-label" for="customCheck1">I accept</label>
    </div>
    
  </div>
                    </div>
                </div>    
          </div>
          
          <div class="propertyCondition--controlButtons">
            <a class="my-nav btn btn-primary" href="{% url 'addTenants' queryset.id %}" role="button">Back</a>


            <a class="my-nav btn btn-primary" href="{% url 'confirmation' queryset.id %}" role="button">Next</a>

            
          </div>
          
     </div>
{% endblock %}