     {% extends "base.html" %}
{% load static %}

{% block title %}
    - Confirmation
{% endblock %}

{% block head_extras %}
 <link rel="stylesheet" href="{% static 'cosmo.css' %}">
<link rel="stylesheet" href="{% static 'confirmation.css' %}">{% endblock %}

{% block main_body %}
      <div class="confirmationBlock">
           {% comment %} <div class="progressBar">
             <div class="progressBar--indicator">
                <span style = "width: 80%"></span>
             </div>
             <div class="progressBar--percent">
             <h4 class ="pageSubSubHeading status">Application Status</h4>
              <h4 class ="pageSubSubHeading percent">80%</h4>
             </div> {% endcomment %}
             <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
        </div>
        <h1 class="mt-4 mb-2 pt-1 pb-2" style="text-align: center">You're nearly there, {{ user.get_username }}!</h1>

        <div class="confirmationBlock--propertyDetails">
          <div class="confirmationBlock--propertyDetails__detail">
           <h4>You are applying to be considered for this property</h4>
            
            <h6>{% if listing.property.building_name %}{{ listing.property.building_name }},{% endif %}
                    {% if listing.property.unit_number %}{{ listing.property.unit_number }}/{% endif %}
                    {{ listing.property.house_number }} {{ listing.property.street_name }}{% if listing.property.room_number %} (Room number: {{ listing.property.room_number }}),{% endif %}
                    {% if listing.property.suburb %}{{ listing.property.suburb }},{% endif %} {% if listing.property.city %}{{ listing.property.city }}{% endif %}</h6>

            <div class="confirmationBlock--propertyDetails__detail___img">
{#              <img src="{% static 'house1.png'%}" alt="nothing here"/>#}
                 {% if listing.property.property_picture %}<img src="{{ listing.property.property_picture.url }}" alt="{{ listing.description }}"/> {%endif%} {# DOESN"T WORK #}
            </div>
          </div>
          <div class="confirmationBlock--propertyDetails__adultsInvited">

          <h4>Other people you have invited:</h4>
            {% comment %} <PageSubHeading title="Other people you have invited"/> {% endcomment %}
          </div>
        </div>
        <div class="confirmationBlock--controlButtons">
          <div class="left">
           <a class="my-nav btn btn-primary" href="{% url 'conditions' listing.id %}" role="button">Back</a>
          </div>
          <div class="right">
             <a class="my-nav btn btn-primary" href="{% url 'done' listing.id %}" role="button">Next</a>
          
          </div>
        </div>
      </div>
{% endblock %}