     {% extends "base.html" %}
{% load static %}
{% block main_body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        RentWiz {% block title %}{% endblock %}
    </title>
    <meta name="author" content="RentWiz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cosmo.css' %}">

    <link rel="stylesheet" href="{% static 'confirmation.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="{% static 'javascript.js' %}"></script>
    <!--<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">-->

    {% block head_extras %}{% endblock %}
</head>
     
     <body>     
     
      <div class="confirmationBlock">
           <div class="progressBar">
             <div class="progressBar--indicator">
                <span style = "width: 80%"></span>
             </div>
             <div class="progressBar--percent">
             <h4 class ="pageSubSubHeading status">Application Status</h4>
              <h4 class ="pageSubSubHeading percent">80%</h4>
             </div>
        </div>
        <h1 class="pageMainHeading">Your're nearly there John!</h1>

        <div class="confirmationBlock--propertyDetails">
          <div class="confirmationBlock--propertyDetails__detail">
           <h4 class ="pageSubSubHeading">You are applying to be considered for this property</h4>
            
            <h4 class ="pageSubSubHeading">13 Tawa Street, Tawa</h4>

            <div class="confirmationBlock--propertyDetails__detail___img">
              <img src="{% static 'house1.png'%}" alt="nothing here"/>
            </div>
          </div>
          <div class="confirmationBlock--propertyDetails__adultsInvited">

          <h4 class ="pageSubSubHeading">Other people you have invited</h4>
            {% comment %} <PageSubHeading title="Other people you have invited"/> {% endcomment %}
          </div>
        </div>
        <div class="confirmationBlock--controlButtons">
          <div class="left">
            <Link to="/adultprofile">
              <ControlButton name="Edit"/>
            </Link>
          </div>
          <div class="right">
            <Link to="/applicationsuccess">
             <ControlButton name="Confirm"/>
            </Link>
          
          </div>
        </div>
      </div>

      </body>
          {% endblock %}