     {% extends "base.html" %}
{% load static %}

{% block title %}
    - Confirmation
{% endblock %}

{% block head_extras %}<link rel="stylesheet" href="{% static 'confirmation.css' %}">{% endblock %}

{% block main_body %}
      <div class="confirmationBlock">
           <div class="progressBar">
             <div class="progressBar--indicator">
                <span style = "width: 80%"></span>
             </div>
             <div class="progressBar--percent">
             <h4 class ="pageSubSubHeading status">Application Status</h4>
              <h4 class ="pageSubSubHeading percent">80%</h4>
             </div>
        </div>
        <h1 class="pageMainHeading">You're nearly there John!</h1>

        <div class="confirmationBlock--propertyDetails">
          <div class="confirmationBlock--propertyDetails__detail">
           <h4 class ="pageSubSubHeading">You are applying to be considered for this property</h4>
            
            <h4 class ="pageSubSubHeading">13 Tawa Street, Tawa</h4>

            <div class="confirmationBlock--propertyDetails__detail___img">
              <img src="{% static 'house1.png'%}" alt="nothing here"/>
            </div>
          </div>
          <div class="confirmationBlock--propertyDetails__adultsInvited">

          <h4 class ="pageSubSubHeading">Other people you have invited</h4>
            {% comment %} <PageSubHeading title="Other people you have invited"/> {% endcomment %}
          </div>
        </div>
        <div class="confirmationBlock--controlButtons">
          <div class="left">
            <Link to="/adultprofile">
              <ControlButton name="Edit"/>
            </Link>
          </div>
          <div class="right">
            <Link to="/applicationsuccess">
             <ControlButton name="Confirm"/>
            </Link>
          
          </div>
        </div>
      </div>
{% endblock %}