{% extends "base.html" %}
{% load static %}
{% block main_body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        RentWiz {% block title %}{% endblock %}
    </title>
    <meta name="author" content="RentWiz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cosmo.css' %}">

    <link rel="stylesheet" href="{% static 'done.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="{% static 'javascript.js' %}"></script>
    <!--<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">-->

    {% block head_extras %}{% endblock %}
</head>
     
     <body>    
    
    
    <div class="applicationStatus100Block">
        <ProgressBar percent="100"/>
        <h1 class = "PageMainHeading">Your're all done!</h1>
       
        <div class="applicationStatus100Block--controlButtons">
          <div class="left">
            <a class="my-nav btn btn-primary" href="{% url 'confirmation' %}" role="button">My Dashboard</a>

           
          </div>
          <div class="right">
            <Link to="/">
              <ControlButton name="My Dashboard"/>
            </Link>
            <div class="left">
           <a class="my-nav btn btn-primary" href="{% url 'conditions' %}" role="button">New Application</a>
          </div>
          </div>
        </div>
      </div>

       </body>
          {% endblock %}